body {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    width: 90%; 
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    text-align: center;
    background-color: ivory;
}

table, th, td {
    border: 1px solid gray;
}

th, td { 
    padding: 10px;
}

button {
    margin: 8px; 
    padding: 8px; 
    font-size: 14px;
    background-color: lightcyan;
    border-radius: 8px;
}

div.table-cell {
    margin: 8px;
    padding: 8px;
    border: 1px solid gray; 
    border-radius: 8px;
    display: table-cell;
    font-size: 14px;
}

div.table-row {
    margin: 5px; 
    padding: 5px;
    display: table-row;
}

div.table-pad {
    width: 30px;
    display: table-cell;
}

.color-green {
    color: green; 
}

.color-red {
    color: red;
}

.toggle:before {
    position: absolute;
    content: "";
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle {
    position: absolute; 
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}